@model ICollection<LiveCV.Models.TechCategory>
  @{ 
      if (Request.IsAjaxRequest())
      {
          Layout = string.Empty;
      }
         
      foreach (var tc in Model)
      { 
           <div class="post">
        <h2>
            <a href="#">@tc.Name</a>
        </h2>
        <p class="posted">
            <span class="posttime">@tc.Description</span>
        </p>
        <div class="entry">
            <table class="tech-table">
                
                    @foreach (var t in tc.Technologies)
                    { 
                    <tr>
                        <td>
                            <b>@t.Name</b>
                        </td>
                        <td>
                            @t.Description
                        </td>
                        <td>
                            @t.Notes
                        </td>
                    </tr>
                    }
                
            </table>
        </div>
    </div>
      }
      }
