@model ICollection<LiveCV.Models.WorkDetails>
@{   
    if (Request.IsAjaxRequest())
    {
        Layout = string.Empty;
    }
            
    foreach (var wd in Model)
    { 
<div class="post">
    <div class="post">
        <h2>        
            <a href="#">@wd.Name</a>
        </h2>     
        
        <p class="posted">
            <span class="posttime">@wd.Title</span>
        </p>           
        @if (wd.End != null && wd.End.HasValue)
        { 
            <h4>@wd.Location (@wd.Start.ToString("MMM yyyy") - @wd.End.Value.ToString("MMM yyyy"))</h4>
        }
        else
        { 
            <h4>@wd.Location (@wd.Start.ToString("MMM yyyy") - Present)</h4>
        }
                
        <div class="entry">                        
            <div class="display-field">
                @wd.CompanyDescription
            </div>
                        
            
            @if (@wd.WorkItems.Count != 0)
            {
                <ul>
                @foreach (var wi in wd.WorkItems)
                {
                    <li><b>@wi.Title</b> @wi.Description</li>                        
                }
                </ul>
                
            }
            else
            { 
                <div class="display-field">@wd.Description</div>
            }
</div>
</div>
</div>
    }
    }