@model LiveCV.Models.TechCategory

    <div class="post">
        <h2>
            <a href="#">@Model.Name</a>
        </h2>
        <p class="posted">
            <span class="posttime">@Model.Description</span>
        </p>
        <div class="entry">
            <table class="tech-table">
                @{
                    foreach (var t in Model.Technologies)
                    { 
                    <tr>
                        <td>
                            <b>@t.Name</b>
                        </td>
                        <td>
                            @t.Description
                        </td>
                        <td>
                            @t.Notes
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>

