@model LiveCV.Models.PersonalDetails


    <div class="post">
        <h2>
            <a href="#">Personal Details</a>
        </h2>
        <p class="posted">
            <span class="posttime">Personal Information & Overview</span>
        </p>
        <div class="entry">
            <table>
                <tr>
                    <td>
                        <div class="display-label">
                            Name
                        </div>
                    </td>
                    <td>
                        <div class="display-field">@Model.FirstName @Model.LastName</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            Address
                        </div>
                    </td>
                    <td>
                        <div class="display-field">@Model.Address1</div>
                        <div class="display-field">@Model.Address2</div>
                        <div class="display-field">@Model.Address3</div>
                        <div class="display-field">@Model.Address4</div>
                        <div class="display-field">@Model.Address5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            Date of Birth
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Model.Dob.ToShortDateString()
                        </div>
                    </td>
                    <tr>
                        <td>
                            <div class="display-label">
                                Nationality
                            </div>
                        </td>
                        <td>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Nationality)
                            </div>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            PhoneNumber</div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            EmailAddress</div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EmailAddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            Website</div>
                    </td>
                    <td>
                        <div class="display-field">
                            <a href="@Model.Website" target="new">@Model.Website</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="display-label">
                            Summary of Qualifications
                        </div>
                    </td>
                    <td>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.QualificationSummary)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

 