@model LiveCV.Models.WorkDetails
<div class="post">
    <div class="post">
        <h2>
            <a href="#">@Html.DisplayFor(model => model.Name)</a>
        </h2>
        <p class="posted">
            <span class="posttime">@Html.DisplayFor(model => model.CompanyDescription)</span>
        </p>
        <div class="entry">
            <div class="display-label">
                Location</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Location)
            </div>
            <div class="display-label">
                Title</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="display-label">
                Start</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Start, "MonthYearDate")
            </div>
            <div class="display-label">
                End</div>
            <div class="display-field">
                @{
                    if (Model.End.HasValue)
                    { 
                    @Html.DisplayFor(model => model.End, "MonthYearDate")
                    }
                    else
                    { 
                    <div>
                        Present</div>
                    }
          
                }
            </div>
            <div class="display-label">
                Description</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
</div>
</div>
</div>
